.head-div-img{
    background-image: url(../images/header.img.svg);
    width: 100%;
    height: 324px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    margin-bottom: 50px;
}


.nav-class{
    display: flex;
    color: #FFFFFF;
    width: 1088px;
    height: 20px;
    position: absolute;
    margin-left: 200px;
    margin-top: 30px;
}

.tetri-boldi{
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: bold;
}
.tetri-boldi-1{
    color: #FFFFFF;
    font-size: 14px;
    margin-right: 439px;
    font-family: 'Poppins';
    font-weight: bold;
}

.lurji-boldi{
    color: #5863F8;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: bold;
    margin-right: 49px;
}

.rooms{
    margin-right: 60px;
}

.Restaurant{
    margin-right: 47px;
}

.blog{
    margin-right: 49px;
    margin-left: 49px;
}
   
.mini-dv{
    position: absolute;
    width: 177px;
    height: 93px;
    margin-top: 146px;
    margin-left: 200px;
    margin-bottom: 119px;
}

.div-contact{
    width: 177px;
    height: 59px;
    display: flex;
    align-items: center;
}

.contact{
    font-size: 42px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: bold;
 }

.div-content2{
    width: 130px;
    height: 25px;
    margin-bottom: 85px;
    display: flex;
    align-items: center;
}
.mini-Home{
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: bold;
}

.mini-contact{

    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: bold;
    height: 20px;
    display: flex;
    align-items: center;
}

.mini-Home::after{
    content: '';
    width: 2px;
    height: 19px;
    background-color: #FFFFFF;
    display: inline-block;
    margin-left: 14.5px;
    margin-right: 14.5px;
}

/* #1 section style */

.section-1{
    display: flex;
    justify-content: center;
     
}

.ruka{
    margin-bottom: 60px;
}

/* section #2 */

.wraper{
    width: 380px;
    height: 135px;
    margin-left: 190px;
    margin-bottom: 50px;
}

.satauri-contact{
    color: #5863F8;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: bold;
}

.paragraph-contact{
    color: #000000;
    font-size: 42px;
    font-family: 'Poppins';
    font-weight: bold;
    line-height: 1.5;
     
   
}

.div-container{
    width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    /* justify-content: center; */
    margin-bottom: 50px;
}


.textarea {
   
    width: 720px;
    height: 288px;
    border: none;
    background-color: #F8F8F8;
    margin-right: 16px;
    outline: none;
    padding-top: 20px;
    padding-left: 20px;
}

.div-form-wraper{
    width: 352px;
    display: flex;
    flex-direction: column;
}
.input-box{
    height: 60px;
    background-color: #F8F8F8;
    border: none;

}
.input-box[name="username"]{
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 20px;
    
}

.input-box[type="text"]{
    padding-left: 20px;
    
}
.input-box[name="email"]{
    padding-left: 20px;
    
}



.input-box[type="submit"]{
    background-color: #5863F8;
    border: none;
    margin-top: 16px;
    color: #FFFFFF;

}

.input-box:focus{
    outline: none;
}